.container{
    width:  940px;
    margin: 0 auto

}
header{
    position: relative;
}
header span{
    background-image: url(../img/sacola.png);
    background-repeat: no-repeat;   
    background-position: right;
    width: 140px;
    display: inline-block;
    text-align: right;
    padding-right: 30px;
    position: absolute;
    right: 0;
    
    
}
header nav{
    position:absolute;
    right: 0;
    bottom: 0;

}
header li{
    display: inline-block;
    margin-left: 10px;


}
.destaque{
    display: flex;  
    justify-content: space-between;
    margin-top: 5px;
}
.busca,.menu-departamentos{
    
    width: 230px;
    background-color: #ddd;
    box-sizing: border-box;
    font-size: 15px;
}
.busca{
    border-radius: 5px 5px 0 0;
    margin-bottom: 10px;
    padding: 10px 10px 15px;
}
.busca input{
   
    border-radius: 20px;
    border: 1px solid #999
}
.menu-departamentos{
    padding:  10px 0 15px;
    text-transform: uppercase;
    font-weight: bold
}
.menu-departamentos h2{
    margin: 0 0 10px 10px;
}
.menu-departamentos li{
    padding:5px 0;
    background-color: white;
    border-bottom: 1px solid #ddd;
}
.menu-departamentos a{
    color: black;
    text-decoration:none;
}
.produtos{
    display:flex;
    justify-content: space-between;

}
.painel{
    padding: 10px;
    box-sizing: border-box;
    width: 49%;
    margin-top: 5px;
    border-radius: 10px;
    box-shadow: 2px 10px 10px rgba(0,0,0,0.4 );

}
.painel ul{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.painel h2{
    text-transform: uppercase;
    font-weight: bold;
    font-weight: 23px;

}
.painel a {
    color: black;
    text-decoration:none;
}
.painel figure{
    width:140px;
    text-align: center;
}
.novidade{
    background-color: #f5dcdc;
}
.mais-vendidos{
    background: #dcdcf5;

    
}





