.container{
    width:  940px;
    margin: 0 auto

}
header span{
    background-image: url(../img/sacola.png);
    background-repeat: no-repeat; 
    background-position: right;
    width: 140px;
    display: inline-block;
    text-align: right;
    padding-right: 30px;
    
    
}
header li{
    display: inline-block;


}






